.contact-us {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

/*Left Part Style*/
.left-part,
.right-part {
    height: 100%;
}

.left-part {
    background-color: rgba(160, 160, 157, 0.5);
}

.left-part h3 {
    color: rgb(233, 170, 11);
    margin: 10% auto 5% 10%;
}

.left-part .internal-form input,
.left-part .internal-form textarea {
    width: 60%;
    height: 5vh;
    display: block;
    border-style: none;
    background-color: rgba(160, 160, 157, 0.5);;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5vh;
    margin-left: 10%;
    border-bottom: solid 2px aliceblue;
    padding: 10px;

}

.left-part .internal-form .input-message {
    height: 30vh;
}

textarea::-webkit-input-placeholder {
    left: 0px;
    top: 0px;
}

.left-part .btn {
    width: 10vw;
    height: 7vh;
    font-weight: bold;
    color: white;
    background-color: rgb(233, 170, 11);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-left: 10%;
}

/*Right Part Style*/
.right-part {
    background-color: rgb(22, 35, 49);
}

.right-part h3 {
    color: rgb(233, 170, 11);
    margin: 10% auto 5% 10%;
}

.right-part p {
    color: #eee;
    margin-left: 10%;
    font-size: large;
}

.right-part .internal-info {
    width: 40vw;
    height: 50vh;
    text-align: left;
    padding: 5vh 0;
    margin: 5vh 5vw;
    background-color: rgba(160, 160, 157, 0.5);;
    border-radius: 10px;
}

.right-part .internal-info .info-piece {
    border-radius: 5px;
    display: flex;
    margin-bottom: 5vh;
}

.right-part .internal-info .info-piece img {
    width: 3vw;
    height: 3vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: -1vh;
}

.right-part .internal-info .info-piece label {
    width: 5vw;
    font-weight: bold;
    color: #fff;
}

.right-part .internal-info .info-piece p {
    width: 20vw;
    color: #ccc;
}

i {
    width: 30px;
    height: 30px;
}