<div class="contact-us" id="contact-us">
    <div class="left-part">
        <h3>Write Us</h3>
        <form class="internal-form" [formGroup]="contactForm">
            <input class="" placeholder="Name" formControlName="name" required>
            <input class="" placeholder="Email" formControlName="email" required>
            <input class="" placeholder="Topic" formControlName="topic" required>
            <textarea class="input-message" placeholder="Message" formControlName="message" required></textarea>
        </form>
        <button type="submit" class="btn" (click)="Send()">Send Message</button>
    </div>
    <div class="right-part">
        <h3>Our Information</h3>
        <p> We are open to any question or just to have a chat.</p>
        <div class="internal-info">
            <div class="info-piece">
                <img [src]="'../../assets/images/address-icon.png'" />
                <label class="label">Address</label>
                <p class="info">198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
            <div class="info-piece">
                <img [src]="'../../assets/images/phone-icon.png'" />
                <label class="label">Phone</label>
                <p class="info">+ 1235 2355 98</p>
            </div>
            <div class="info-piece">
                <img [src]="'../../assets/images/mail-icon.png'" />
                <label class="label">Email</label>
                <p class="info">info.site.com</p>
            </div>
            <div class="info-piece">
                <img [src]="'../../assets/images/site-icon.png'" />
                <label class="label">Website</label>
                <p class="info">yoursite.com</p>
            </div>
        </div>
    </div>
</div>