* {
    --bg-color: #000914;
    --main-color: rgb(233, 170, 11);
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 35, 49);
    color: #ccc;
}

/*Top Section*/
.footer .top-sec {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.footer .top-sec .sec-1,
.footer .top-sec .sec-2,
.footer .top-sec .sec-3,
.footer .top-sec .sec-4 {
    width: 20vw;
    height: 50vh;
    margin-top: 20vh;
}

.footer h5 {
    color: white;
    transition: all ease-in-out 1s;
}

.footer .sec-1:hover h5,
.footer .sec-2:hover h5,
.footer .sec-3:hover h5,
.footer .sec-4:hover h5 {
    transform: translateX(50px);
}

.footer .top-sec .dash {
    width: 25%;
    height: 5px;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all ease-in-out 1s;
}

.footer .sec-1:hover .dash,
.footer .sec-2:hover .dash,
.footer .sec-3:hover .dash,
.footer .sec-4:hover .dash {
    transform: translateX(50px);
}

/*Top: section 1*/
.footer .about {
    width: 90%;
}

.footer .icons {
    display: flex;
    justify-content: space-around;
}

.footer .icons img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/*Top: section 2*/
.footer .news .news-1,
.footer .news .news-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .news .news-1 img,
.footer .news .news-2 img {
    width: 30%;
    height: 30%;
    border-radius: 15px;
    display: inline-block;
}

.footer .news .news-1 p,
.footer .news .news-2 p {
    width: 50%;
    height: 50%;
    font-size: small;
    display: inline-block;
    margin-top: 10%;
}

.footer .news .news-1 p span,
.footer .news .news-2 p span {
    font-weight: 600;
    color: var(--main-color);
}

/*Top: section 3*/

.footer .sec-3 a {

    display: block;
    margin: 5%;
}

/*Top: section 4*/
.footer .info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.footer .sec-4 p {
    width: 10vw;
    font-size: small;
    display: inline-block;
}

.footer .sec-4 img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/*Bottom Section*/
.footer .bottom-sec {
    width: 100%;
    height: 20vh;
    text-align: center;
}

.footer .bottom-sec span {
    color: var(--main-color);
}