<div class="footer">
    <div class="top-sec">
        <div class="sec-1">
            <h5 class="">E-Commerce</h5>
            <p class="dash"></p>
            <p class="about">
                A small river named DuDuDu flows by their place to supply them with necessary materials, it is a
                beautiful land that share goods with its citizens.<br>A small river named DuDuDu flows by their place to
                supply them with necessary materials, it is a beautiful land that share goods with its citizens. This is
                how e-commerce started!
            </p>
            <div class="icons">
                <img [src]="'../../assets/images/footer-img-1.png'" />
                <img [src]="'../../assets/images/footer-img-1.png'">
                <img [src]="'../../assets/images/footer-img-1.png'">
            </div>

        </div>
        <div class="sec-2">
            <h5 class="">Latest News</h5>
            <p class="dash"></p>
            <div class="news">
                <div class="news-1">
                    <img [src]="'../../assets/images/footer-img-1.png'">
                    <p class="text">Even the all-powerful Pointing has no control about<br>
                        <span>Oct 18, 2019 Admin 19</span>
                    </p>
                </div>
                <div class="news-2">
                    <img [src]="'../../assets/images/footer-img-2.png'">
                    <p class="text">Even the all-powerful Pointing has no control about<br>
                        <span>Oct 18, 2019 Admin 19</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="sec-3">
            <h5 class="">Quick Links</h5>
            <p class="dash"></p>
            <a class="">Home</a>
            <a class="">About</a>
            <a class="">Services</a>
            <a class="">Works</a>
            <a class="">Blog</a>
            <a class="">Contact</a>
        </div>
        <div class="sec-4">
            <h5 class="">Have a Question</h5>
            <p class="dash"></p>
            <div class="contact-info">
                <div class="info">
                    <img [src]="'../../assets/images/footer-img-1.png'">
                    <p class="">2023 Fake st. Mountain View, San Francisco, California, USA</p>
                </div>
                <div class="info">
                    <img [src]="'../../assets/images/footer-img-1.png'">
                    <p class="">+2 392 3929 210</p>
                </div>
                <div class="info">
                    <img [src]="'../../assets/images/footer-img-1.png'">
                    <p class="">info.ecommerce.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-sec">
        <p class="">Copyright 2021 All rights reserved | This template is made with love, thank u!
            <span>E-Commerce</span></p>
    </div>
</div>