<div class="content">
    <div class="left-sec">
        <div>
            <span><i class='bx bxs-shopping-bag-alt'></i></span>
            <h1>Frontend<span> Store</span></h1>
        </div>
        <nav [ngClass]="{'open': isOpen}" class="menu">
            <ul [ngClass]="{'open': isOpen}" class="menu">
                <li (click)="redirectThenScroll('home')">Home</li>
                <li (click)="redirectThenScroll('about-us')">About Us</li>
                <li (click)="redirectThenScroll('products')">Products</li>
                <li (click)="redirectThenScroll('contact-us')">Contact Us</li>
            </ul>
        </nav>
    </div>

    <div class="right-sec">
        <button (click)="toggleMenu()" class="toggle-menu" [class.active-button]="isOpen">
           <div>
            <span></span>
            <span></span>
            <span></span>
           </div>
        </button>
    </div>
</div>