.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(233, 170, 11);
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(22, 35, 49);
    border-bottom: 1px solid rgb(22, 35, 49);
    font-weight: 600;
}

.left-sec {
    display: flex;
    align-items: center;
    gap: 80px;
}

.left-sec div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.left-sec div h1 {
    font-size: 25px
}

h1 span {
    color: red;
}

.left-sec i {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 10px;
    color: rgb(240, 64, 64);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 10px;
    margin-left: 30px;
}

ul li {
    margin: 11px;
    cursor: pointer;
    font-size: 19px;
    transition: 0.3s;
}

.active {
    color: red;
}

li:hover {
    scale: 1.1;
    color: red;
}

.right-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.right-sec i {
    margin: 1rem;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.right-sec i:hover {
    scale: 1.1;
    color: red;
}

hr {
    color: grey;
}



.toggle-menu {
    width: 20px;
    height: 10px;
    background: none;
    display: none;
    border: none;
    cursor: pointer;
    margin: 1rem;
}

.toggle-menu:hover span {
    background-color: red;
}

.toggle-menu:focus {
    outline: none;
}

.toggle-menu span {
    display: block;
    background-color: black;
    height: 2px;
    width: 15px;
    border-radius: 4px;
    margin-bottom: 4px;
}

.active-button span {
    background-color: red;
}

@media (max-width:767px) {

    .menu {
        display: none;
    }

    .toggle-menu {
        display: block;
    }

    .menu.open {
        display: flex;
        flex-direction: column;
        color: white;
        position: absolute;
        top: 29px;
        right: 0px;
        width: 100%;
        align-items: flex-start;
        z-index: 1;
        background-color: rgb(22, 35, 49);

    }

    ul.open {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

    ul::after {
        content: "";
        background-color: red;
        color: rgb(233, 170, 11);
        ;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

@media (max-width:440px) {
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-sec {
        margin-right: 80px;
    }

    .left-sec div h1 {
        font-size: 20px;
        display: flex;
    }

    .left-sec div h1 span {
        margin-left: 5px;
    }
}