<h1 class="header-title">Our Products</h1>
<div class="productwrapper" id="products">
  <div class="productcardcontainer" *ngFor="let product of products ; index as i">

    <h1 class="title">{{product.name}}</h1>

    <div class="edit-delete">
      <button class="edit" (click)="editProduct(product)">Edit Product</button>
      <button class="delete" (click)="deleteProduct(product.id)">Delete Product</button>
    </div>
    <!--POPUP-->
    <button class="btn-view" (click)="Popup(); selectedProductID = i ">View Details</button>

  </div>
</div>
<!--POPUP WINDOW-->
<div class="popup-window" *ngIf="showPopup">
  <div>
    <h1 class="Title">{{products[selectedProductID].name}}</h1>
    <span class="price">Price : {{products[selectedProductID].price}} $$ </span>
    <span class="price">category : {{products[selectedProductID].category}}</span>
    <p class="desc">
      this Product is Made in <span class="desc-span">{{products[selectedProductID].made_In}}</span> with the best tecnique and with best
      raw material
    </p>
  </div>

<span class="cancel-popup" (click)="closePopup()">x</span>

</div>
<div class="black-layer" *ngIf="showPopup"></div>