.header-title{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: rgb(22, 35, 49);
  margin-top: 40px;
}

.productwrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 80px auto;
}

.productcardcontainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin-left: 90px;
  border: 1px solid rgb(206, 202, 202);
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(160, 160, 157, 0.5);
  transition: 0.3s;
  background-color: rgb(225,228,232);
}

.productcardcontainer:hover{
  scale: 1.05;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(233, 170, 11);
  margin-top: 20px;
}

.price {
  font-size: 18px;
  font-weight: 500;
  color: #666;
}

.desc {
  text-align: center;
}

.desc-span {
  color: rgb(233, 170, 11);
  font-weight: 600;
}
.edit-delete{
  display: flex;
  border-radius: 10px;
}
.edit{
  margin-right: 10px;
  height: 30px;
  width:120px ;
  border-radius: 10px;
  border-color: rgb(237, 207, 150);
  box-shadow: 5px 5px 5px rgba(160, 160, 157, 0.5);
  background-color: rgb(140, 141, 143);
  color: aliceblue;
}
.delete{
  height: 30px;
  width:120px ;
  border-radius: 10px;
  border-color: rgb(237, 207, 150);
  box-shadow: 5px 5px 5px rgba(160, 160, 157, 0.5);
  background-color: rgb(140, 141, 143);
  color: aliceblue;
}
.delete:hover{
  transform: translateX(5px);
  background-color: rgb(222, 224, 227);
  color: black;
}
.edit:hover{
  transform: translateX(-5px);
  background-color: rgb(222, 224, 227);
  color: black;
}
.btn-view{
  height: 30px;
  width:120px ;
  border-radius: 10px;
  border-color: rgb(237, 207, 150);
  box-shadow: 5px 5px 5px rgba(160, 160, 157, 0.5);
  background-color: rgb(140, 141, 143);
  color: aliceblue;
  margin-top: 10px;
}
.btn-view:hover{
  background-color: rgb(222, 224, 227);
  color: black;
}
/*POPUP WINDOW*/
.popup-window{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 140px auto;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
  z-index: 500;
}

.cancel-popup{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.black-layer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}