.content {
    width: 100%;
    height: 88vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    background-color: rgb(22, 35, 49);
}

.content .left-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 20px;
    gap: 30px;
    margin-top: 100px;
    color: white;
}

.left-sec h1 {
    font-size: 40px;
    text-align: start;
    font-weight: 700;
    font-style: oblique;
}

.left-sec p {
    font-size: 17px;
    font-style: oblique;
}

.left-sec button {
    width: 150px;
    height: 55px;
    border: none;
    border-radius: 5px;
    background-color: rgb(207, 32, 32);
    color: white;
    font-style: oblique;
    font-size: 18px;
    transition: 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: flash 1s infinite;

}

@keyframes flash {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.right-sec {
    margin-top: 80px;
    width: 50%;
}

.right-sec img {
    border-radius: 20px;
    width: 500px;
    height: 400px;
}

@media (max-width:991px) {
    .content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 50px;
    }

    .left-sec button {
        margin: 0 auto;
    }

}

@media (max-width:730px) {
    .right-sec img {
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }

    .right-sec {
        margin: 0 auto;
    }

    .left-sec {
        margin: 0 auto;
    }

    .left-sec button {
        margin: 0 auto;
    }
}

@media (max-width:540px) {
    .right-sec img {
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

}