.content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 380px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 100px auto;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
}

.form {
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

label {
    font-weight: 600;
}

input {
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
}

.description {
    height: 60px;
}


.upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px dashed black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-box:hover {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.upload-box span {
    font-size: 24px;
    color: black;
}

button {
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.x {
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

#price {
    margin-left: 15px;
}



@media (max-width:400px) {
    .content {
        width: 370px;
    }
}