<div class="content" #popup>
    <div class="form">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="upload-box" (click)="fileInput.click()">
                <span *ngIf="!selectedImage">+</span>
                <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image">
                <input #fileInput type="file" hidden="true" accept="image/*" (change)="handleFileInput($event)"
                    formControlName="image">
            </div>  

            <div>
                <label for="name">Name :</label>
                <input type="text" name="" id="name" placeholder="{{productDetails.name}}" formControlName="name" [(ngModel)]="name">
            </div>

            <div>
                <label for="madein">Made In :</label>
                <input type="text" name="" id="madein" placeholder="{{productDetails.made_In}}"
                    formControlName="madein">
            </div>

            <div>
                <label for="price">Price :</label>
                <input type="text" name="" id="price" placeholder="{{productDetails.price}}" formControlName="price">
            </div>

            <button type="submit" [disabled]="form.invalid">Edit</button>

        </form>
    </div>
</div>
