<router-outlet></router-outlet>
<app-navbar></app-navbar>
<app-home></app-home>
<app-about-us></app-about-us>
<app-products-view></app-products-view>
<app-contact-us></app-contact-us>
<app-footer></app-footer>

