.aboutus-section {
    margin-top: 50px;
    overflow: hidden;
}

.first-section {
    display: flex;
    height: 700px;
    margin-bottom: 10px;
}

.first-section1 {
    width: 800px;
    padding-left: 150px;
    margin-right: 100px;
    padding-top: 30px;
}

.first-section1-title {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: rgb(233, 170, 11);
    width: 550px;
}

.first-section1-who {
    font-size: 20px;
    width: 550px;
    padding-bottom: 70px;
}

.first-section1-mission {
    font-size: 20px;
}

.first-section1-mission-span {
    font-size: 30px;
    font-weight: 600;
    color: rgb(22, 35, 49);
}

.first-img {
    height: 350px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(147, 169, 158, 0.5);
    margin-top: 40px;
}

.second-section {
    margin-bottom: 150px;
}

.second-section-div {
    background-color: rgb(22, 35, 49);
    width: 850px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(90, 100, 95, 0.5);
}

.second-section-title {
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    color: rgb(233, 170, 11);
    width: 600px;
    margin-left: 300px;
}

.second-section-paragraph {
    margin-left: 90px;
    width: 700px;
    color: antiquewhite;
    font-size: 20px;
}


.third-section {
    display: flex;
    margin-bottom: 50px;
}

.third-section1 {
    margin-left: 100px;
    width: 760px;
    margin-right: 10px;
}

.third-section-title {
    font-size: 30px;
    font-weight: 600;
    color: rgb(22, 35, 49);
    margin-bottom: 25px;
}

.third-section1-div1 {
    display: flex;
    width: 700px;
    margin-bottom: 30px;
}

.third-section1-div1-p {
    font-size: 20px;
    margin-right: 50px;
    width: 350px;
    font-size: 20px;
}

.third-section1-div1-span {
    font-size: 30px;
    font-weight: 600;
    color: rgb(22, 35, 49);

}

.third-img {
    width: 400px;
    height: 350px;
    margin-top: 30px;
    border-radius: 50px;
    border: 4px solid rgb(233, 170, 11);
    box-shadow: 5px 5px 5px rgb(233, 170, 11);
    opacity: 0.8;
}