<div class='aboutus-section' id="about-us">
    <div class='first-section'>
        <div class='first-section1'>

            <h1 class='first-section1-title'> Who Are We</h1>
            <p class='first-section1-who'>
                A syrian e-commers plateform designed
                to provide a convenient and secure shopping experience for customer ,
                we offer wide range of products ,including electronics , fashion,home, applications and many other
                categories
                we are commited to offering the best price
                and excellent customer service, ensuring fast and safe delivery across Syria.
                Our goal is to meet and exceed our customers' expectations through innovation,
                quality, and transparency in all our dealings.

            </p>


            <p class='first-section1-mission'>
                <span class='first-section1-mission-span'>Our Mission :</span><br />

                Our mission is to provide a unique and secure online
                shopping experience for customers in Syria by offering a wide variety of high-quality products,
                focusing on excellent customer service and fast delivery.

            </p>
        </div>
        <div class='first-section2'>
            <img src='assets\images\photo_2024-05-26_00-35-40.jpg' class='first-img' />
        </div>
    </div>


    <div class='second-section'>
        <div class='second-section-div'>
            <h1 class='second-section-title'>Our Goals:</h1>
            <p class='second-section-paragraph'>

                - Expand Customer Base: We aim to reach as many customers as possible across Syria.
                - Enhance User Experience: We continuously work on improving the user interface and shopping experience
                on our website.
                - Increase Sales: We plan to boost sales through effective marketing strategies and attractive
                promotional offers.
                - Expand Product Range: We are working on adding more categories and products to meet the diverse needs
                of our customers.
                - Foster Loyalty: We aim to build long-term relationships with our customers through loyalty programs
                and exceptional customer service.
            </p>
        </div>

    </div>




    <div class='third-section'>
        <div class='third-section1'>
            <h1 class='third-section-title'>Our Values</h1>

            <div class='third-section1-div1'>
                <p class='third-section1-div1-p'>
                    <span class='third-section1-div1-span'>Quality:</span><br />
                    We are committed to offering high-quality products that meet our customers' expectations.
                </p>
                <p class='third-section1-div1-p'>
                    <span class='third-section1-div1-span'>Transparency:</span><br />
                    We believe in the importance of transparency in all our dealings with customers and suppliers.
                </p>
            </div>

            <div class='third-section1-div1'>
                <p class='third-section1-div1-p'>
                    <span class='third-section1-div1-span'>Innovation:</span> <br />
                    We constantly strive to provide innovative solutions that meet the changing needs of the market.
                </p>
                <p class='third-section1-div1-p'>
                    <span class='third-section1-div1-span'>Sustainability:</span><br />
                    We adopt sustainable business practices that respect the environment and society.
                </p>
            </div>

        </div>
        <div class='third-section2'>
            <img src='assets\images\photo_2024-05-26_00-36-39.jpg' class='third-img' />
        </div>

    </div>
</div>